.modelContainer {
    padding: 22px;

    .modelName{
        color: #4f4e56;
        font-size: 18px;
        font-weight: 700;
    }

    .modelPrice{
        font-size: 16px;
        font-weight: 600;
    }

}